<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Cadastro de Tutor</title>
</head>

<body>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Cadastro de Tutor</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>
                <form action="#" th:action="@{/tutores/salvar}" th:object="${tutor}" method="post">
                    <div class="row mb-3">
                        <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                        <div class="col-sm-5">
                            <input id="nome" class="form-control" type="text" th:field="*{nome}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cpf" class="col-sm-1 col-form-label">CPF:</label>
                        <div class="col-sm-3">
                            <input id="cpf" class="form-control" type="text" th:field="*{cpf}">
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="email" class="col-sm-1 col-form-label">E-mail:</label>
                        <div class="col-sm-2">
                            <input id="email" class="form-control" type="text" th:field="*{email}">
                        </div>
                        <div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="endereco" class="col-sm-1 col-form-label">Endereço:</label>
                        <div class="col-sm-3">
                            <input id="endereco" class="form-control" type="text" th:field="*{endereco}">
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Salvar" />
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>


